## Here should install first:
#sudo dnf install python3-pyaudio 
#sudo dnf install portaudio-devel redhat-rpm-config

# if video/audio play fails
#sudo dnf swap wireplumber pipewire-media-session
#systemctl --user restart pipewire-media-session

SpeechRecognition
pyttsx3
langchain_huggingface
langchain-core
langchain_ollama
PyAudio
flask
pydub